<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>Jackalope</title>

	<!-- Required stylesheet -->
	<link rel="stylesheet" href="/static/lib/deckjs/core/deck.core.css">

	<!-- Extension CSS files go here. Remove or add as needed. -->
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/scale/deck.scale.css">
	<!--
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/hash/deck.hash.css">
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/status/deck.status.css">
	<link rel="stylesheet" href="/static/lib/deckjs/extensions/goto/deck.goto.css">
    -->

	<!-- Style theme. More available in /themes/style/ or create your own. -->
	<!--
    <link rel="stylesheet" href="/static/lib/deckjs/themes/style/web-2.0.css">
    -->

	<!-- Transition theme. More available in /themes/transition/ or create your own. -->
	<link rel="stylesheet" href="/static/lib/deckjs/themes/transition/fade.css">

	<!-- Our stylesheet -->
	<link rel="stylesheet" href="/static/css/deck.css">

	<!-- Required Modernizr file -->
    <script src="/static/lib/modernizr/modernizr.custom.js"></script>

	<!-- Our javascript -->
    <script src="/static/js/deck.js"></script>
</head>

<body class="deck-container">

<!-- Begin slides. Just make elements with a class of slide. -->

<!-- SLIDE #1 -->
<section class="slide">
    <img src="/static/images/deck/Cover.jpg" alt="Cover" />
</section>


<!-- SLIDE #2 -->
<section class="slide">
    <img src="/static/images/deck/Team.jpg" alt="Team" />
</section>

<!-- SLIDE #3 -->
<section class="slide">
    <img src="/static/images/deck/Problem1.jpg" alt="Problem" />
</section>

<!-- SLIDE #4 -->
<section class="slide">
    <img src="/static/images/deck/Problem2.jpg" alt="Problem" />
</section>

<!-- SLIDE #5 -->
<section class="slide">
    <img src="/static/images/deck/Problem3.jpg" alt="Problem" />
</section>

<!-- SLIDE #6 -->
<section class="slide">
    <img src="/static/images/deck/Market.jpg" alt="Market" />
</section>

<!-- SLIDE #7 -->
<section class="slide">
    <img src="/static/images/deck/Trend.jpg" alt="Trend" />
</section>

<!-- SLIDE #8 -->
<section class="slide">
    <img src="/static/images/deck/Solution1.jpg" alt="Solution" />
</section>

<!-- SLIDE #9 -->
<section class="slide">
    <img src="/static/images/deck/Solution2.jpg" alt="Solution" />
</section>

<!-- SLIDE #10 -->
<section class="slide">
    <img src="/static/images/deck/Solution3.jpg" alt="Solution" />
</section>

<!-- SLIDE #11 -->
<section class="slide">
    <img src="/static/images/deck/Solution4.jpg" alt="Solution" />
</section>

<!-- SLIDE #12 -->
<section class="slide">
    <img src="/static/images/deck/Solution5.jpg" alt="Solution" />
</section>

<!-- SLIDE #13 -->
<section class="slide">
    <img src="/static/images/deck/Mobile.jpg" alt="Mobile" />
</section>

<!-- SLIDE #14 -->
<section class="slide">
    <img src="/static/images/deck/Revenue.jpg" alt="Revenue" />
</section>

<!-- SLIDE #15 -->
<section class="slide">
    <img src="/static/images/deck/Finances.jpg" alt="Finances" />
</section>

<!-- SLIDE #15 -->
<section class="slide">
    <img src="/static/images/deck/Contact.jpg" alt="Contact" />
</section>

<!-- End slides. -->


<!-- Begin extension snippets. Add or remove as needed. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<!--
<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>
-->

<!-- deck.goto snippet -->
<!--
<form action="." method="get" class="goto-form">
	<label for="goto-slide">Go to slide:</label>
	<input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
	<datalist id="goto-datalist"></datalist>
	<input type="submit" value="Go">
</form>
-->

<!-- deck.hash snippet -->
<!--
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>
-->

<!-- End extension snippets. -->


<!-- Required JS files. -->
<script src="/static/lib/jquery/jquery-1.7.2.min.js"></script>
<script src="/static/lib/deckjs/core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="/static/lib/deckjs/core/deck.core.js"></script>
<script src="/static/lib/deckjs/extensions/menu/deck.menu.js"></script>
<script src="/static/lib/deckjs/extensions/navigation/deck.navigation.js"></script>
<script src="/static/lib/deckjs/extensions/scale/deck.scale.js"></script>
<!--
<script src="/static/lib/deckjs/extensions/hash/deck.hash.js"></script>
<script src="/static/lib/deckjs/extensions/status/deck.status.js"></script>
<script src="/static/lib/deckjs/extensions/goto/deck.goto.js"></script>
-->

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
	$(function() {
		$.deck('.slide');
	});
</script>

</body>
</html>
